html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.home-container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.home-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-top: 20px;
}

.logo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: -40px;
}

.logo-container img {
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 200px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.btn {
  min-width: 10vw;
  min-height: 10vh;
  font-size: 1.5em;
  border-color: black;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  background-color: #E22400;
  border-width: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* disable hover effect */
.btn:hover {
  background-color: #E22400 !important;
  color: inherit !important;
  border-color: inherit !important;
  text-decoration: none !important;
  box-shadow: none !important;
}

.btn-nav {
  padding: 5px;
}

.home-btn, .login-btn, .signup-btn {
  background-color: #ff002b;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
