.display-container {
    display: flex;
    height: 100vh;
}

.graybox {
    background-color: gray;
    width: 30%;
    height: 100%;
    padding-top: 2em;
}

.map-container { 
    flex-grow: 1;
    height: 100vh; 
}
