.map {
    display: flex;
    margin: 0;
    height: 100vh;
}

.map-container { /* size map to webpage size */
    height: 100vh; 
    width: 70%;
}

.sidebar { /* formats info bar (lat, lng, zoom) at top */
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
} 

.chatbot {
    height: 100vh;
    width: 30%;
}

.form {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px;
}

input {
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    background-color: #dbdbce; /* PLACEHOLDER */
    margin: 5px;
    /* margin-right: 15px; */
    /* width: 15.5em; */
    width: 75%;
}

button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: #dbdbce; /* PLACEHOLDER */
    width: 20%;
}
