<<<<<<< HEAD
.map {
    display: flex;
    margin: 0;
    height: 100vh;
}

.map-container { /* size map to webpage size */
    height: 100vh; 
    width: 70%;
=======
.map-container { /* size map to webpage size */
    height: 100vh; 
>>>>>>> fcaa80821677c1fd9e59e5c66c993ec5e87cf9e7
}

.sidebar { /* formats info bar (lat, lng, zoom) at top */
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
<<<<<<< HEAD
} 

.chatbot {
    position: relative;
    height: 100vh;
    width: 30%;
    background: #dbdbce;
}

/* .form {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1%;
    flex-wrap: nowrap; 
    box-sizing: border-box;
    background-color: blue;
} */

input {
    position: absolute; /* Position the form absolutely */
    bottom: 0; /* Position the form at the bottom */
    margin: 2%;
    border: none;
    border-radius: 5px;
    font-size: 1.3em;
    /* background: white;  */
    margin-right: 3%;
    margin-left: 3%;
    width: 70%;
    box-sizing: border-box; /* Include padding and border in width */
}

.user-input {
    background-color: white;
}

button {
    position: absolute; /* Position the form absolutely */
    bottom: 0; /* Position the form at the bottom */
    right: 0;
    margin: 2%;
    border-radius: 5px;
    border: none;
    padding: 2%;
    text-align: center; /* Center text horizontally */
    line-height: 1.3em; /* Set line-height to match font-size */
    background-color: white; /* PLACEHOLDER */
    width: 20%;
    box-sizing: border-box; /* Include padding and border in width */
}

.chat-history {
    max-height: 92vh;
    overflow-y: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
}

.user-message {
    display: flex; 
    flex-direction: column;
    align-self: flex-end;
}

.bot-message {
    display: flex; 
    flex-direction: column;
    align-self: flex-start;
}

.bot-label {
    display: flex; 
    align-self: flex-start;
    padding: 5px;
    /* background-color: #e38471; */
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    color:  #E22400;
    margin-bottom: 5px;
    margin-top: 0px;
    display: inline-block; 
}

.user-label {
    display: flex; 
    align-self: flex-end;
    position: relative;
    right: 0px;
    display: flex; 
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    color:  #e28000;
    margin-bottom: 5px;
    margin-top: 0px;
    display: inline-block; 
}

.bot-response {
    display: flex; 
    align-self: flex-start;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
    /* text-align: left; */
}

.user-response {
    display: flex; 
    align-self: flex-end;
    position: relative;
    right: 0px;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 30px;
    /* text-align: right; */
}
=======
} 
>>>>>>> fcaa80821677c1fd9e59e5c66c993ec5e87cf9e7
