.home-container {
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.background {
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.whitebox-container {
    position: absolute;
    z-index: 1;
    left: 20%;
    top: 20%;
}

.whitebox-container img {
    width: auto;
    height: auto;
    max-width: 78%;
    max-height: 78%;
}

.logo-container {
    position: absolute;
    z-index: 2;
    left: 22%;
    top: 26%;
}

.logo-container img {
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 70%;
}

.buttons-container {
    position: absolute;
    z-index: 2;
    top: 50%; /* Adjust as needed */
    left: 10%; /* Adjust as needed */
    display: flex;
    flex-direction: row;
    gap: 5%; /* Adjust spacing as needed */
}

.btn {
    min-width: 22vw;
    min-height: 15vh;
    font-size: 200%;
    border-color: black;
    color: black; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: #E22400;
    border-width: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* disable hover effect */
.btn:hover {
    background-color: #E22400 !important;
    color: inherit !important;
    border-color: inherit !important;
    text-decoration: none !important;
    box-shadow: none !important;      
}

.btn-nav {
  padding: 5px;
}

.home-btn, .login-btn, .signup-btn {
  background-color: #ff002b;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none
}

a {
  text-decoration: none;
  font-size: 1.5em;
  color: black;
}
